@page
@model Farmacia.Pages.Categorias.EditarModel
@{

    ViewData["Title"] = "Editar una Categoría";

}

<div class="container">
    <div class="row">

        <div class="col-8 offset-2">

            <h2 class="text-info">Editar una  Categoría</h2>

            <form method="POST">
                <input type="hidden" asp-for="Categoria.Id" />


                <div class="mb-3">

                    <label asp-for="Categoria.Nombre" class="form-label"></label>

                    <input asp-for="Categoria.Nombre" class="form-control" placeholder="Ingresa el nombre de la categoría" />

                    <span asp-validation-for="Categoria.Nombre" class="text-danger"></span>

                </div>

                <div class="mb-3">

                    <label asp-for="Categoria.DescripcionCategoria" class="form-label"></label>

                    <input asp-for="Categoria.DescripcionCategoria" class="form-control" placeholder="Descripcion de la Categoría" />

                    <span asp-validation-for="Categoria.DescripcionCategoria" class="text-danger"></span>

                </div>

                <div class="mb-3">

                    <label asp-for="Categoria.Laboratorio" class="form-label"></label>

                    <input asp-for="Categoria.Laboratorio" class="form-control" placeholder="Laboratorio" />

                    <span asp-validation-for="Categoria.Laboratorio" class="text-danger"></span>

                </div>

                <div class="mb-3">

                    <label asp-for="Categoria.FechaCreacion" class="form-label"></label>

                    <input asp-for="Categoria.FechaCreacion" class="form-control" />
                    <span asp-validation-for="Categoria.FechaCreacion" class="text-danger"></span>

                </div>

                <button type="submit" class="btn btn-primary">Editar categoría</button>

            </form>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <a asp-page="Index" class="btn btn-success">volver</a>
        </div>
    </div>

</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />


}



